<!DOCTYPE html>
<html>
<head>
  <title>AuthenticationLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr>
<%= session['user_id'].inspect %> <!-- For troubleshooting only to see the session cookie -->
<hr>

<!-- Update this later. Shouldn't have logic in the controller -->
<% if session['user_id']==nil %>
	<%= link_to 'Log in', new_session_path %>
<%else%>
	<%= link_to 'Log out', logout_path, method: :delete %> <!-- This requests my self named logout_path with the method delete. You have to specify the method of delete because by default all http requests are gets-->
<%end%>

<%= yield %>

<br>
<br>
<hr>
<h3>Parameters for troubleshooting. Delete this later when app is working</h3>
<%= params.inspect %>

</body>
</html>
